<section class="DiscoverArea">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="DiscverBody ltn__secondary-bg position-relative text-center"
        >
          <div class="DiscverBodyInfo text-color-white">
            <h1>هل تبحث عن شقة أحلامك ؟</h1>
            <p>يمكننا مساعدتك في تحقيق حلمك بمنزل جديد</p>
          </div>
          <div class="btn-wrapper">
            <a
              class="btn btn-effect-3 btn-white"
              [routerLink]="['/unit']" 
              >أكتشف الوحدات <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Start Footer-->
<footer>
  <div class="footer-top-area section-bg-2 plr--5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-about-widget">
            <h4 class="footer-title">تواصل معنا</h4>

            <div class="footer-address">
              <ul>
                <li>
                  <div class="footer-address-icon">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="footer-address-info">
                    <p style="color: white">
                      مكرم عبيد , مدينة نصر , القاهرة
                    </p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="fa-solid fa-phone-volume"></i>
                  </div>
                  <div class="footer-address-info">
                    <p><a href="tel:19473">19473</a></p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div class="footer-address-info">
                    <p>
                      <a href="mailto:info@kandil-realestate.com"
                        > info&#64;kandil-realestate.com</a
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="ltn__social-media mt-20">
              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/kandilrealestateinvestment"
                    title="Facebook"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://twitter.com/kandilestates"
                    title="Twitter"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" title="Linkedin"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/kandil.realestate/"
                    title="Instagram"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/c/KandilRealEstate"
                    title="Youtube"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">الشركة</h4>
            <div class="footer-menu">
              <ul>
                <li>
                  <a routerLink="/whyus"
                    >لماذا قنديل</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">المشاريع</h4>
            <div class="footer-menu">
              <ul>
                <li *ngFor="let item of AllCity">
                  <a
                    [routerLink]="['projectcategory',item.id]"
                    >{{item.name}}</a
                  >
                </li>
                <!-- <li>
                  <a
                    href="Pages/Projects/التجمع-الخامس.html"
                    >التجمع الخامس</a
                  >
                </li>
                <li>
                  <a href="Pages/Projects/الشروق.html"
                    >مدينة الشروق</a
                  >
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 col-12">
          <div class="footer-widget footer-menu-widget clearfix">
            <h4 class="footer-title">خدمة العملاء</h4>
            <div class="footer-menu">
              <ul>
                <li>
                  <a routerLink="/callus"
                    >راسلنا</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 col-12">
          <div class="footer-widget footer-newsletter-widget">
            <div class="footer-logo">
              <div class="site-logo">
                <a [routerLink]="['/home']">
                  <img
                    src="../../assets/Images/k1.webp"
                    width="80%"
                    alt="Logo"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7 plr--5">
      <div class="container ltn__border-top-2">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="ltn__copyright-design clearfix">
              <p style="color: white">
                جميع الحقوق محفوظه لـ قنديل للإستثمار العقارى وإدارة
                المشروعات ©<span class="current-year">{{currentYear}}</span>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12 align-self-center">
            <div class="ltn__copyright-menu text-start">
              <ul>
                <li>
                  <a href="https://istack-eg.github.io/Home/" title="portfolio team build this website">   
                    Developed By Istack Team ©<span class="current-year">{{currentYear}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End Footer-->
