<app-title-navigation title="اقسام التشطيبات 
" [id]="3"></app-title-navigation>

<section class="AllProject">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="isLoading; else projectCards">
        <div class="col-lg-4 col-sm-6 col-12" style="margin-bottom: 20px;" *ngFor="let skeleton of skeletonArray">
          <app-skeleton-card></app-skeleton-card>
        </div>
      </ng-container>
      <ng-template #projectCards>
        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let item of items; let i=index">
          <app-card title={{item.title}} [imgUrl]="imageApi+'Finish/'+item.imageName" Url={{item.id}}  ></app-card>
        </div>
        <app-page-not-found *ngIf="items==[] || items==null || items==undefined || items.length==0"></app-page-not-found>
      </ng-template>
      
    </div>
  </div>
</section>
