<div class="accordion" id="cityAccordion">
   
  <div class="accordion-item" *ngFor="let item of Projects; let i = index">
    <h2 class="accordion-header" id="headingCity{{i}}">
      <button 
        class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse" 
        [attr.data-bs-target]="'#collapseCity' + i" 
        aria-expanded="true" 
        [attr.aria-controls]="'collapseCity' + i">
        {{ item.areaName }}
      </button>
    </h2>
    <div 
      [id]="'collapseCity' + i" 
      class="accordion-collapse collapse" 
      [attr.aria-labelledby]="'headingCity' + i" 
      data-bs-parent="#cityAccordion">
      <div class="accordion-body">
        <div class="card-container">
          <div class="card" *ngFor="let area of item.viewProject">
            <img [src]="ImageUrl+'Projects/'+area.imageName" alt="Image" class="card-image" />
            <h3 class="card-title">{{ area.name }}</h3>
            <div class="card-buttons">
              <button class="btn btn-edit"  (click)="onEdit(area.id,item.id)">Edit</button>
              <a class="btn btn-info"  [routerLink]="['/dashboard/Projects/AllUnit', area.id]">All Unit</a>
              <button class="btn btn-delete" (click)="onDelete(area.id,item.id)">Delete</button>
            </div>
          </div>
          
          <div class="card add-card" (click)="AddProject(item.id)" >
            <span class="plus-icon">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>