<div class="card-container">
  <!-- Dynamic List of Cards -->
  <div class="card" *ngFor="let item of Media">
    <img [src]="ImageUrl+'Media/'+item.imageName" alt="Image" class="card-image" />
    <h3 class="card-title">{{ item.title}}</h3>
    <div class="card-buttons">
      <a  class="btn btn-edit" [routerLink]="['edit/',item.id]">تعديل</a>
      <button (click)="onDelete(item.id)" class="btn btn-delete">حذف</button>
    </div>
  </div>

  <!-- Add New Card -->
  <a class="card add-card" routerLink="add" >
    <span class="plus-icon">+</span>
  </a>
 
</div>
