<div class="container">
  <form [formGroup]="imageForm" (ngSubmit)="saveImage()" >
    <div *ngIf="imageForm.get('image')?.value" >
      <label>صوره:</label>
      <app-image-upload  nameImage="{{imageForm.get('image')?.value}}" 
      Url="{{apiUrl+'/WhyUs/'+imageForm.get('image')?.value}}"  
        (imageSelected)="onImageChange($event,0)" ></app-image-upload> 
    </div>
    <button type="submit">تعديل</button>

  </form>
  <div *ngIf="forms.length > 0">
    <form  *ngFor="let form of forms; let i = index" [formGroup]="form" (ngSubmit)="saveChanges(i)" class="form-card" style="margin-top: 20px;margin-bottom: 20px;">
      <ng-container *ngIf="i==0">
        <div>
          <label>عنوان:</label>
          <input formControlName="title" [disabled]="true" />
        </div>
        <div>
          <label>وصف:</label>
            <editor
              
              formControlName="description"
              apiKey={{apikey}}
      
              
              [init]="init"
            ></editor>
          
        </div>
      </ng-container>
      <ng-container *ngIf="i>0">
        <div>
          <label>عنوان:</label>
          <input formControlName="title" [disabled]="true" />
        </div>
        <div>
          <label>وصف:</label>
            <editor
              
              formControlName="description"
              apiKey={{apikey}}
      
              
              [init]="init"
            ></editor>
          
        </div>
        <div *ngIf="form.get('image')?.value" >
          <label>صوره:</label>
          <app-image-upload  nameImage="{{form.get('image')?.value}}" 
          Url="{{apiUrl+'/WhyUs/'+form.get('image')?.value}}"  
            (imageSelected)="onImageChange($event,i)" ></app-image-upload> 
        </div>
        <div>
          <label>الاقتباس:</label>
            <textarea
              
              formControlName="quote"
            ></textarea>
          
        </div>
        <div>
          <label>وصف اكثر:</label>
            <editor
              
              formControlName="fullDescription"
              apiKey={{apikey}}
      
              
              [init]="init"
            ></editor>
          
        </div>
        
      </ng-container>
      
     
      <div style="width: 100%;display: flex;justify-content: center;">
        <button [disabled]="form.invalid" type="submit" style="margin-left:auto ;margin-right: auto;">تعديل</button>

      </div>
    </form>
  </div>
  
</div>

