<div class="card-container">
  <!-- Dynamic List of Cards -->
  <div class="card" *ngFor="let item of cities">
    <img [src]="ImageUrl+item.imageName" loading="lazy" alt={{item.name}} class="card-image" />
    <h3 class="card-title">{{ item.name}}</h3>
    <div class="card-buttons">
      <button (click)="onEdit(item.id)" class="btn btn-edit">Edit</button>
      <button (click)="onDelete(item.id)" class="btn btn-delete">Delete</button>
    </div>
  </div>

  <!-- Add New Card -->
  <div class="card add-card" (click)="openAddCityModal()">
    <span class="plus-icon">+</span>
  </div>
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">×</span>
      @if(isEditMode){
        <h2>تعديل مدينه</h2>
      }@else {
        <h2>اضافه مدينه جديده</h2>
      }
      
      <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
        <label for="name">اسم المدينه</label>
        <input id="name"
         formControlName="name"
         class="form-control" 
         [ngClass]="{
          'is-invalid': cityForm.get('name')?.invalid &&(isEditMode||cityForm.get('name')?.touched) ,
          'is-valid': cityForm.get('name')?.valid &&(isEditMode||cityForm.get('name')?.touched)
        }"
         type="text" 
        placeholder="ادخل اسم المدينه" 
        
        
        />
        <div *ngIf="cityForm.get('name')?.invalid &&(isEditMode||cityForm.get('name')?.touched)" class="text-danger">
          <small *ngIf="cityForm.get('name')?.errors?.['required']">هذا الحقل مطلوب</small>
        </div>
        <label for="image">صوره المدينه</label>
        <app-image-upload nameImage="{{NameImage}}" Url="{{UrlEdit}}" (imageSelected)="onImageSelected($event)"></app-image-upload>
        <button type="submit" [disabled]="cityForm.invalid" class="btn btn-submit">
          @if(isEditMode){
            تعديل
          }@else{
            اضافه
          }

        </button>
      </form>
    </div>
  </div>
</div>
