
<app-title-navigation title={{Title}} [breadcrumbs]="breadcrumbs" [id]="1"></app-title-navigation>
<section class="AllProject">
  <div class="container">
    
    <div class="row">
        <ng-container *ngIf="isLoading; else projectCards">
          <div class="col-lg-4 col-sm-6 col-12" style="margin-bottom: 20px;" *ngFor="let skeleton of skeletonArray">
            <app-skeleton-card></app-skeleton-card>
          </div>
        </ng-container>
        <ng-template #projectCards>
        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let Project of LoadedData">
          <app-card title={{Project.title}} [Url]='"detail/"+Project.id' [imgUrl]='ImageUrl+"Projects/"+Project.imageName'></app-card>
        </div>
        <app-page-not-found *ngIf="LoadedData==[] || LoadedData==null || LoadedData==undefined || LoadedData.length==0"></app-page-not-found>
  
      </ng-template>
    </div>
    
  </div>
</section>
