<!--Start Image And Video For Company And Search Section-->
<section class="FirstSection" #firstSection >
  <div class="container" *ngIf="isFirstSectionVisible">
    <div class="SearchContianer">
      <h3 class="TitleSearch">دوّر على أي وحدات عندنا</h3>
      <app-dropdown></app-dropdown>
    </div>
  </div>
  <div class="swiper mySwiper"  >
    <div class="swiper-wrapper" style="overflow: hidden; height: 100vh;"  >
      <div class="swiper-slide" #tri *ngFor="let item of AllSliderItem">
        <div class="Image"  *ngIf="item.mediaType==='image'">
          @defer (on viewport(tri)) {
            <img [src]="ImageUrl+'Slider/'+item.mediaPath" loading="lazy" alt="Image" srcset="" />
          }
        </div>

            <video [src]="ImageUrl+'Slider/'+item.mediaPath" 
             *ngIf="item.mediaType==='video'" 
              width="100%"
             muted
              autoplay
              loop
              playsinline
             crossorigin="anonymous">
            </video>

       
      </div>
    </div>
  </div>
</section>
<!--End Image And Video For Company And Search Section-->
<!--Start Extra Information About Company Sections-->
<section class="AboutUsSection" #aboutUsSection>
  <div class="container" *ngIf="isAboutUsSectionVisible">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="AboutusImage">
          <img [src]="ImageWhyUs" loading="lazy" alt="About Us Image" />
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="AboutusInfo">
          <div class="SectionTitle">
            <h6>عن قنديل</h6>
          </div>
          <div class="LinkTitle">
            <h1 class="section-title"><a routerLink="/whyus">لماذا قنديل</a></h1>
            <p *ngIf="whyUsItem[0]!=undefined" [innerHTML]="whyUsItem[0]"></p>
          </div>
          <div class="cardItem cardItem3">
            <div class="CardIcon">
              <span><i class="fa-solid fa-shield-alt"></i></span>
            </div>

            <a [routerLink]="['/info/',whyId[1]]">
              <div class="CardBody">
                <h4>الثقة</h4>
                <p *ngIf="whyUsItem[1]!=undefined" [innerHTML]="whyUsItem[1]"></p>

              </div>
            </a>
          </div>
          <div class="cardItem cardItem3">
            <div class="CardIcon">
              <span><i class="fa-solid fa-handshake"></i></span>
            </div>

            <a [routerLink]="['/info/',whyId[2]]">
              <div class="CardBody">
                <h4>الإلتزام</h4>
                <p *ngIf="whyUsItem[2]!=undefined" [innerHTML]="whyUsItem[2]"></p>

              </div>
            </a>
          </div>
          <div class="cardItem cardItem3">
            <div class="CardIcon">
              <span><i class="fa-solid fa-certificate"></i></span>
            </div>

            <a [routerLink]="['/info/',whyId[3]]"> </a>
            <div class="CardBody">
              <a [routerLink]="['/info/',whyId[3]]">
                <h4>الجودة</h4>
                <p *ngIf="whyUsItem[3]!=undefined" [innerHTML]="whyUsItem[3]"></p>

              </a>
            </div>
          </div>
          <div class="cardItem cardItem3">
            <div class="CardIcon">
              <span><i class="fa-solid fa-check-square"></i></span>
            </div>

            <a [routerLink]="['/info/',whyId[4]]"> </a>
            <div class="CardBody">
              <a [routerLink]="['/info/',whyId[4]]">
                <h4>المصداقية</h4>
                <p *ngIf="whyUsItem[4]!=undefined" [innerHTML]="whyUsItem[4]"></p>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Extra Information About Company Sections-->
<!--Start Showing All Project Section -->
<section class="ProjectArea" #projectArea>
  <div class="container" *ngIf="isProjectArea">
    <div class="row">
      <div class="col-lg-12">
        <form action="#">
          <div class="TabMenu text-center">
            <div class="nav">
              <br /><br />
              <a
                *ngFor="let item of AllArea;let i=index"
                class="show btn theme-btn-4 btn-effect-4" [ngClass]="i===0?'active':''"
                data-bs-toggle="tab"
                style="border: none;"
                href="#liton_tab_3_{{i}}"
                >{{item.city}}</a
              >
             
              <a
                data-bs-toggle="tab"
                href="#liton_tab_3_3"
                class="btn theme-btn-4 btn-effect-4"
                >التشطيبات</a
              > 
            </div>
          </div>
          <div class="tab-content" #trigger>
            <div class="tab-pane fade " *ngFor="let city of AllArea; let i=index" id="liton_tab_3_{{i}}" [ngClass]="i==0?'active show':''">
              <div class="TabCotent">
                <div class="mb-100">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-12" *ngFor="let area of city.viewAreas; let i=index">
                        @defer (on viewport(trigger)) {
                          <div class="blog-item blog-item-3">
                          
                            <div class="blog-img">
                              <a
                              [routerLink]="['/projectcategory/'+city.id+'/project/',area.id]"
                              >
                                <img [src]="ImageUrl+area.imageName" loading="lazy" alt="{{ area.name }}" />
                              </a>
                            </div>
                            <div class="blog-brief">
                              <h3 class="blog-title animated fadeIn">
                                <a
                                [routerLink]="['/projectcategory/'+city.id+'/project/',area.id]"
                                >{{ area.name }}</a
                                >
                              </h3>
                              <div class="blog-meta-btn">
                                <div class="blog-meta">
                                  <ul></ul>
                                </div>
                                <div class="blog-btn">
                                  <a
                                  [routerLink]="['/projectcategory/'+city.id+'/project/',area.id]"
                                  >مشاهدة</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        }
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="liton_tab_3_3">
              <div class="TabCotent">
                <div class="mb-100">
                  <div class="container">
                    <div class="row">
                      
                            <div class="col-lg-4 col-sm-6 col-12" *ngFor="let item of FinishCategoryList">
                              <div class="blog-item blog-item-3">
                                <div class="blog-img">
                                  <a
                                  [routerLink]="['/finishcategory',item.id]"
                                    tabindex="0"
                                  >
                                    <img [src]="ImageUrl+'Finish/'+item.imageName" loading="lazy" alt={{item.title}} />
                                  </a>
                                </div>
                                <div class="blog-brief">
                                  <h3 class="blog-title animated fadeIn">
                                    <a
                                    [routerLink]="['/finishcategory',item.id]"
                                      tabindex="0"
                                      > {{item.title}}</a
                                    >
                                  </h3>
                                  <div class="blog-meta-btn">
                                    <div class="blog-meta">
                                      <ul></ul>
                                    </div>
                                    <div class="blog-btn">
                                      <a
                                      [routerLink]="['/finishcategory',item.id]"
                                        >مشاهدة</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--End Showing All Project Section -->
<!--Video-->
<section class="VideoArea" #VideoArea>
  <div class="container" *ngIf="isVideoArea">
    <iframe
      class="youtube-video"
      src="https://www.youtube.com/embed/Shk0ovDJsXA?loop=1&amp;controls=1&amp;showinfo=0&amp;autoplay=1&amp;mute=1"
      frameborder="0"
      title="قنديل"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen=""
            loading="lazy"

    ></iframe>
  </div>
</section>
<!--Video-->
<!--Counter Animation -->
<section class="Numbers" >
  <div class="container">
    <div class="row">
      <div class="ContainerNumber col-lg-3 col-sm-6 col-12">
        <div class="NumberText">
          + <span class="number" appIncreaseNumber  [dataValue]="1000">0</span>
        </div>
        <p class="Text">مشروع</p>
      </div>
      <div class="ContainerNumber col-lg-3 col-sm-6 col-12">
        <div class="NumberText">
          + <span class="number" appIncreaseNumber  [dataValue]="750">0</span>
        </div>
        <p class="Text">إجمالي الوحدات</p>
      </div>
      <div class="ContainerNumber col-lg-3 col-sm-6 col-12">
        <div class="NumberText">
          + <span class="number" appIncreaseNumber  [dataValue]="100">0</span>
        </div>
        <p class="Text">تحت الإنشاء</p>
      </div>
      <div class="ContainerNumber col-lg-3 col-sm-6 col-12">
        <div class="NumberText">
          + <span class="number" appIncreaseNumber  [dataValue]="360">0</span>
        </div>
        <p class="Text">وحدة تم تسليمها</p>
      </div>
    </div>
  </div>
</section>
<!--Counter Animation -->
<!--Start Showing All Units Section -->

<section class="ProductArea" #productArea>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="TitleProductAraa text-center">
          <h6 class="SubTitleProductAraa">وحدات للبيع</h6>
          <h1 class="section-title">جديد وحدات للبيع</h1>
        </div>
      </div>
      <div class="slick-slider"
      >
        
      <ng-container *ngFor="let item of units">
        <app-unit [unitData]="item"></app-unit>
      </ng-container>       
        
       
        </div>
    </div>
    <style>
      .product-item{
        margin-left: 10px;
      }
      .product-item:not(:last-child){
        margin-left: 0;
      }
      @media (max-width:1200px) {
        section.ProductArea .product-item .product-info {
            padding: 20px 5px 5px;
        }
      }
    </style>
    <div class="row justify-content-center"> 
    
    </div>
  </div>
     
    
</section>
<!--End Showing All Project Section -->

