<section class="DetailUnit">
  <div class="shop-details-area pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="shop-details-inner page-details-inner mb-60">
            <div class="blog-meta">
              <div class="skeleton skeleton-text"></div>
            </div>
            <h1>
              <div class="skeleton skeleton-title"></div>
            </h1>

            <label>
              <div class="skeleton skeleton-link"></div>
            </label>

            <h4 class="title-2">الوصف</h4>
            <div class="skeleton skeleton-paragraph"></div>

            <h4 class="title-2">تفاصيل الوحدة</h4>
            <div class="property-detail-info-list section-bg-1 clearfix mb-60">
              <ul>
                <li><div class="skeleton skeleton-text"></div></li>
                <li><div class="skeleton skeleton-text"></div></li>
                <li><div class="skeleton skeleton-text"></div></li>
                <li><div class="skeleton skeleton-text"></div></li>
              </ul>
              <ul>
                <li><div class="skeleton skeleton-text"></div></li>
                <li><div class="skeleton skeleton-text"></div></li>
                <li><div class="skeleton skeleton-text"></div></li>
              </ul>
            </div>

            <h4 class="title-2">المميزات</h4>
            <div class="property-detail-feature-list clearfix mb-45">
              <ul>
                <li *ngFor="let _ of [].constructor(3)">
                  <div class="skeleton skeleton-icon-text"></div>
                </li>
              </ul>
            </div>

            <h4 class="title-2">الخدمات</h4>
            <div class="property-details-amenities mb-60">
              <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let _ of [].constructor(2)">
                  <div class="menu-widget">
                    <ul>
                      <li>
                        <div class="skeleton skeleton-text"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <h4 class="title-2">الفيديو</h4>
            <div class="skeleton skeleton-video"></div>

            <h4 class="title-2">موقع الوحدة</h4>
            <div class="container">
              <div class="row">
                <div class="skeleton skeleton-map-link"></div>
              </div>
            </div>

            <h4 class="title-2">وحدات ذات صله</h4>
            <div class="skeleton skeleton-card"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
